@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Vazir;
  src: url("./fonts/Vazir.eot");
  src: url("./fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Vazir.woff2") format("woff2"), url("Vazir.woff") format("woff"),
    url("./fonts/Vazir.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("./fonts/Vazir-Bold.eot");
  src: url("./fonts/Vazir-Bold.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Vazir-Bold.woff2") format("woff2"),
    url("./fonts/Vazir-Bold.woff") format("woff"),
    url("./fonts/Vazir-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("./fonts/Vazir-Black.eot");
  src: url("./fonts/Vazir-Black.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Vazir-Black.woff2") format("woff2"),
    url("./fonts/Vazir-Black.woff") format("woff"),
    url("./fonts/Vazir-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("./fonts/Vazir-Medium.eot");
  src: url("./fonts/Vazir-Medium.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Vazir-Medium.woff2") format("woff2"),
    url("./fonts/Vazir-Medium.woff") format("woff"),
    url("./fonts/Vazir-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("./fonts/Vazir-Light.eot");
  src: url("./fonts/Vazir-Light.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Vazir-Light.woff2") format("woff2"),
    url("./fonts/Vazir-Light.woff") format("woff"),
    url("./fonts/Vazir-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url("./fonts/Vazir-Thin.eot");
  src: url("./fonts/Vazir-Thin.eot?#iefix") format("embedded-opentype"),
    url("./fonts/Vazir-Thin.woff2") format("woff2"),
    url("./fonts/Vazir-Thin.woff") format("woff"),
    url("./fonts/Vazir-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: shabnam;
  src: url("./font/Shabnam-Bold.woff2") format("woff2");
  font-weight: bold;
}
@font-face {
  font-family: shabnam;
  src: url("./font/Shabnam-Medium.woff2") format("woff2");
  font-weight: normal;
}
body {
  font-family: Vazir;
  background-color: rgba(0, 0, 0, 1);
  color: white;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
input[type="range"] {
  -moz-appearance: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  border: none;
  border-radius: 0;
}
input[type="range"]::-webkit-slider-thumb {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  cursor: pointer;
}
input[type="range"]::-moz-range-track {
  background: lightgray;
  height: 5px;
  border-radius: 3px;
  -moz-appearance: none;
  appearance: none;
}
input[type="range"]::-moz-range-thumb {
  height: 10px;
  width: 10px;
  background: green;
  border-radius: 50%;
  cursor: pointer;
}
input[type="range"]::-moz-range-progress {
  background: green;
  height: 5px;
  border-radius: 3px;
}
